@{
    var lstRestaurantes = ViewBag.LstRestaurantes;
    var lstVotacao = ViewBag.LstVotacao;
}
@*<br />
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<style>
    .progress-label {
        float: left;
        margin-right: 1em;
    }
</style>
<div class="row">
    @if (lstRestaurantes.Count == 0)
    {
        <div class="col-md-12">
            <h2>Não há votação hoje!</h2>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <h2>Votação do Dia</h2>
            <div class="list-group list-votacao">
                @foreach (var item in lstRestaurantes)
                {
                    <a href="#" class="list-group-item @(item.FlDesabilitado ? "disabled" : "")" id="@item.CdRestaurante">@item.NmRestaurante</a>
                }
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Usuário</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control idUsuario">
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="form-control btn btn-primary btnVotar">Votar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Parcial</h2>
            <div class="alert ">
                <div class="container">
                    @foreach (var item in lstVotacao)
                    {
                    <p>
                        <h4 class="progress-label col-sm-2">@item.NmRestaurante</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.PeVotos" aria-valuemin="0" aria-valuemax="100" style="width: @item.PeVotos%">
                                @item.NrVotos
                            </div>
                        </div>
                    </p>
                    }
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $(".list-group-item").click(function (e) {
            e.preventDefault();

            $(".list-group-item").removeClass("active");
            $(this).addClass("active");
        })

        $(".btnVotar").click(function () {

            var voto = $(".list-votacao").find(".active");

            if (voto.length == 0) {
                return Votacao.MessageBox.Aviso("Deve ser selecionado uma opção de voto.");
            }

            if ($(".idUsuario").val() == "") {
                return Votacao.MessageBox.Aviso("Favor informar o ID do usuário.");
            }

            //Votacao.Aguarde.Exibir();

            var posting = $.post("/Home/Votar", { IdUsuario: $(".idUsuario").val(), CdRestaurante: voto.attr("id") });

            posting.done(function (data) {
                if (data.Sucesso) {
                    alert("Ok");
                    $(location).attr("href", "/Home");
                    //Votacao.Aguarde.Fechar();
                } else {
                    alert(data.Mensagem);
                    //Votacao.Aguarde.Fechar();
                    //Votacao.MessageBox.Aviso(data.Mensagem);
                }
            });
        });
    });
</script>